<!-- Model Resource Modal -->
<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Model Element Properties</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('X')"></button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <form>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="selectedResource">Model Resource</label>
                <select class='form-select form-select-sm form-control' [disabled]='!isEnabled'
                    [(ngModel)]='modalInfo.selectedResource' [compareWith]='compareResources' name='selectedResource'
                    (change)='onResourceSelected($event)'>
                    <option *ngFor='let resource of modalInfo.resources' [ngValue]='resource'>
                        <div>
                            <span>{{resource.key}}</span>
                        </div>
                    </option>
                </select>
            </div>
            <div class="mb-3 col-md-3">
                <label>Opacity</label>
                <span style="float: right;"><strong>{{modalInfo.opacity}}</strong></span>
                <input type="range" class="form-range" min="0" max="255" [(ngModel)]="modalInfo.opacity"
                    name="opacity" id="opacity">
            </div>
            <div class="mb-3 col-md-3">
                <div class="form-check form-check-inline" style="padding-top: 24px;">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="modalInfo.lockAspect" name="lockAspect"
                        id="lockAspect">
                    <label for="lockAspect" class="form-check-label">Lock Aspect Ratio</label>
                </div>
            </div>
        </div>
    </form>
    <div style="text-align: center;">
        <div class="grid" style="display: inline-block; font-size: 0px;">
            <app-elise-view [model]="modalInfo.model" [scale]="modalInfo.scale"
                [style.opacity]="modalInfo.opacity / 255" style="display: inline-block; border: 1px solid black; font-size: 0px;">
            </app-elise-view>
        </div>
        <h5>{{modalInfo.info}}</h5>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="commit()">OK</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')" autofocus>Cancel</button>
</div>
