<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Delete Container</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('X')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="alert alert-danger">
        Are you sure you want to delete container {{modalInfo.name}}?
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="commit()">Yes, Delete Container</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('Cancel')" ngbAutofocus>Cancel</button>
</div>
