@font-face {
	font-family: 'Matrix';
	src: url('Matrix.eot');
	src: url('Matrix.eot?#iefix') format('embedded-opentype'),
		url('Matrix.woff') format('woff'),
		url('Matrix.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
