<nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
    <a class='navbar-brand' href='#'>Elise Library Demos</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
            <!-- Samples dropdown -->
            <div ngbDropdown>
                <button class="btn btn-link nav-link" id="samplesdrop" ngbDropdownToggle>Samples</button>
                <div ngbDropdownMenu aria-labelledby="samplesdrop">
                    <a ngbDropdownItem routerLink='/primitives'>Primitives</a>
                    <a ngbDropdownItem routerLink="/samples">Samples</a>
                    <a ngbDropdownItem routerLink="/sketches">Sketches</a>
                </div>
            </div>

            <!--
            <li class='nav-item'>
                <a class='nav-link' routerLink='/primitives'>Primitives</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' routerLink='/samples'>Samples</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' routerLink='/sketches'>Sketches</a>
            </li>
-->
            <!-- Tests dropdown -->
            <div ngbDropdown>
                <button class="btn btn-link nav-link" id="testsdrop" ngbDropdownToggle>Tests</button>
                <div ngbDropdownMenu aria-labelledby="testsdrop">
                    <a ngbDropdownItem routerLink='/tests/view'>View Tests</a>
                    <a ngbDropdownItem routerLink='/tests/design'>Design Tests</a>
                    <a ngbDropdownItem routerLink='/tests/surface'>Surface Tests</a>
                    <a ngbDropdownItem routerLink='/tests/container-explorer'>Container Explorer</a>
                    <a ngbDropdownItem routerLink='/tests/model-designer'>Model Designer</a>
                    <a ngbDropdownItem routerLink='/tests/model-playground'>Model Playground</a>
                    <a ngbDropdownItem routerLink='/api-tests'>API Tests</a>
                </div>
            </div>

<!--
            <li class='nav-item'>
                <a class='nav-link' routerLink='/tests/view'>View Tests</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' routerLink='/tests/design'>Design Tests</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' routerLink='/tests/surface'>Surface Tests</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' routerLink='/api-tests'>API Tests</a>
            </li>
-->
            <li class='nav-item'>
                <a *ngIf='isLoggedIn===false' class='nav-link' routerLink='/login'>Log In</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' *ngIf='isLoggedIn===true' routerLink='/login'>Account Info</a>
            </li>
        </ul>
    </div>
</nav>