<nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
    <a class='navbar-brand ps-3' href='#'>Elise Library Demos</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto'>
            <!-- Samples dropdown -->
            <div ngbDropdown>
                <button class="btn btn-link nav-link" id="samplesdrop" ngbDropdownToggle>Samples</button>
                <div ngbDropdownMenu aria-labelledby="samplesdrop">
                    <a ngbDropdownItem routerLink='/primitives' routerLinkActive='active'>Primitives</a>
                    <a ngbDropdownItem routerLink="/animations" routerLinkActive='active'>Animations</a>
                    <a ngbDropdownItem routerLink="/sketches" routerLinkActive='active'>Sketches</a>
                </div>
            </div>

            <!-- Tests dropdown -->
            <div ngbDropdown>
                <button class="btn btn-link nav-link" id="testsdrop" ngbDropdownToggle>Tests</button>
                <div ngbDropdownMenu aria-labelledby="testsdrop">
                    <a ngbDropdownItem routerLink='/tests/view' routerLinkActive='active'>View Tests</a>
                    <a ngbDropdownItem routerLink='/tests/design' routerLinkActive='active'>Design Tests</a>
                    <a ngbDropdownItem routerLink='/tests/surface' routerLinkActive='active'>Surface Tests</a>
                    <a ngbDropdownItem routerLink='/tests/container-explorer' routerLinkActive='active'>Container Explorer</a>
                    <a ngbDropdownItem routerLink='/tests/model-designer' routerLinkActive='active'>Model Designer</a>
                    <a ngbDropdownItem routerLink='/tests/model-playground' routerLinkActive='active'>Model Playground</a>
                    <a ngbDropdownItem routerLink='/api-tests' routerLinkActive='active'>API Tests</a>
                </div>
            </div>

            <li class='nav-item'>
                <a *ngIf='isLoggedIn===false' class='nav-link' routerLink='/login' routerLinkActive='active'>Log In</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' *ngIf='isLoggedIn===true' routerLink='/login' routerLinkActive='active'>Account Info</a>
            </li>
        </ul>
    </div>
</nav>
