<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Delete File</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('X')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="alert alert-danger">
        Are you sure you want to delete<br />&nbsp;<strong>{{modalInfo.path}}</strong>&nbsp;?<br />This change cannot be undone.
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="commit()">Yes, Delete File</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('No')" ngbAutofocus>No</button>
</div>
