<!-- Image Resource Modal -->
<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Edit Points</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('X')"></button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <form>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label for="text">Points</label>
                <textarea [(ngModel)]="modalInfo.pointsString" name="pointsString" id="pointsString"
                  class="form-control" rows="12" style="max-height: calc(100vh - 480px);"></textarea>
            </div>
        </div>
    </form>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="commit()">OK</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cancel')" ngbAutofocus>Cancel</button>
</div>