.view-host {
    display: inline-block;
}

.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    width: auto;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.element-list {
    margin-top: 0;

    .single-element {
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
        border: solid 1px lightgray;
        margin-bottom: 0;

        .flexend {
            display: flex;
            margin-left: 0.5rem;
            cursor: pointer;
            align-self: flex-end;
        }

        display: flex;
        flex-grow: 1;

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .info {
            width: 100%;
        }
    }
}
