<div style='height: calc(100vh - 129px);'>

    <div class='toolbar'>

        <!-- Container selector -->
        <app-container-selector (containerSelected)='onContainerSelected($event)' style='display: inline-block;'>
        </app-container-selector>

        <!-- New Folder Button -->
        <button class='btn btn-light py-0 px-1' [disabled]='selectedFolderPath == null'
            (click)="containertree.showNewFolderModal()">
            <span style='position: relative; top: 4px;' placement="bottom" ngbTooltip="New Folder"
                class='fas fa-folder-plus fa-2x'></span>
        </button>

        <!-- Delete Folder Button -->
        <button class='btn btn-light py-0 px-0' [disabled]='selectedFolderPath == null || selectedFolderPath === "/"'
            (click)="containertree.showDeleteFolderModal()">
            <span style='position: relative; top: 4px;' placement="bottom" ngbTooltip="Delete Folder"
                class='fas fa-folder-minus fa-2x'></span>
        </button>

        <!-- New Model Button -->
        <button class='btn btn-light py-0 px-1' [disabled]='selectedFolderPath == null'
            (click)="showNewModelModal()">
            <span style='position: relative; top: 4px;' placement="bottom" ngbTooltip="New Model"
                class='fas fa-file fa-2x'></span>
        </button>

        <!-- Save Model Button -->
        <button class='btn btn-light py-0 px-1' [disabled]='modelPath == null || model == null'
                (click)="saveModel()">
            <span style='position: relative; top: 4px;' placement="bottom" ngbTooltip="Save Model"
                class='fas fa-file-upload fa-2x'></span>
        </button>

        <div class='mx-1' style='position: relative; top: 6px; display: inline-block;'>

            <div *ngIf="modelPath; else noModelPath">
                <!-- Model path label -->
                <span><strong>{{modelContainerName}}{{modelPath}}</strong></span>
            </div>
            <ng-template #noModelPath>
                <!-- Selected folder path label -->
                <span><strong>{{selectedContainerName}}{{selectedFolderPath}}</strong></span>
            </ng-template>
        </div>

        <!-- Upload file input -->
        <form *ngIf='selectedFolderPath != null' class='small' style='display:inline-block;'>
            <input type="file" #fileUploadInput (change)='uploadFiles(fileUploadInput.files)' multiple
                style="margin-left: 8px; position: relative; top: 4px;" />
        </form>

        <span *ngIf="isBusy" class="spinner-border spinner-border-sm text-success"
            style="margin-left: 4px; position: relative; top: 2px;"></span>

    </div>

    <!-- Main horizontal split -->
    <as-split unit='percent' direction='horizontal' gutterSize='5' style='border: 5px solid rgb(231, 231, 231);'>
        <as-split-area size='30' minSize='10' maxSize='40'>
            <as-split unit='percent' direction='vertical' gutterSize='5'>
                <as-split-area size='33' minsize='10' maxsize='90'>
                    <app-container-tree (folderPathSelected)="onFolderPathSelected($event)" #containertree>
                    </app-container-tree>
                </as-split-area>
                <as-split-area size='67' appDnd (fileDropped)="onFileDropped($event)">
                    <app-alert id='container-explorer'></app-alert>
                    <app-upload-list [uploads]="uploads" (cancelUpload)="cancelUpload($event)"></app-upload-list>
                    <app-file-list [selectedFolderPath]="selectedFolderPath" [folderFiles]="folderFiles"
                        (selectFile)="selectFile($event)" [showDownload]=false [showDate]=false [allowDelete]=false>
                    </app-file-list>
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area size='70'>
            <div *ngIf="model != null" >
            <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="modelEditorNavId" (navChange)="onNavChange($event)" [destroyOnHide]="false">
                <ng-container [ngbNavItem]="1">
                    <a ngbNavLink>Editor</a>
                    <ng-template ngbNavContent>
                        <!-- Model Editor -->
                        <div *ngIf="model != null" style="margin-bottom: 4px;">
                            <table style="margin-left: 4px;">
                                <tr style="vertical-align: baseline;">
                                    <td>
                                        <!-- <label for="scale" style="margin-right: 4px;"><strong>Scale</strong></label> -->
                                        <select id="scale" [(ngModel)]="scale" ngbTooltip="Zoom"
                                            class='btn btn-sm btn-outline-primary'>
                                            <option [ngValue]="0.25">25%</option>
                                            <option [ngValue]="0.5">50%</option>
                                            <option [ngValue]="0.75">75%</option>
                                            <option [ngValue]="1">100%</option>
                                            <option [ngValue]="1.5">150%</option>
                                            <option [ngValue]="2">200%</option>
                                            <option [ngValue]="3">300%</option>
                                            <option [ngValue]="4">400%</option>
                                            <option [ngValue]="5">500%</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="background" [(ngModel)]="background"
                                            class='btn btn-sm btn-outline-primary'
                                            ngbTooltip="Drawing Surface">
                                            <option value="grid">Grid</option>
                                            <option value="white">White</option>
                                            <option value="black">Black</option>
                                            <option value="gray">Gray</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div ngbDropdown class="d-inline-block">
                                            <button class="btn btn-sm btn-outline-primary" id="editMenuDropdown" ngbDropdownToggle>Edit</button>
                                            <div ngbDropdownMenu aria-labelledby="editMenuDropdown">

                                                <button ngbDropdownItem class="btn btn-sm" (click)="showModelSizeModal()">Model Size...</button>

                                                <button *ngIf="selectedElementCount === 1" ngbDropdownItem class="btn btn-sm" (click)="showElementSizeModal()">Element Size...</button>

                                                <!-- Single element property dialogs -->
                                                <button *ngIf="singleElementType=='text'" ngbDropdownItem class="btn btn-sm" (click)="showTextElementModal()">Element Properties...</button>
                                                <button *ngIf="singleElementType=='image'" ngbDropdownItem class="btn btn-sm" (click)="showImageElementModal()">Element Properties...</button>
                                                <button *ngIf="singleElementType=='model'" ngbDropdownItem class="btn btn-sm" (click)="showModelElementModal()">Element Properties...</button>

                                                <button ngbDropdownItem class="btn btn-sm" [disabled]="!canDuplicateSelected()" (click)="duplicateSelected()">Duplicate</button>
                                                <div ngbDropdown style="padding-left: 15px;">
                                                    <button id="editMoveMenuDropdown" class="btn btn-sm btn-light" style="background-color: white;" ngbDropdownToggle>Move</button>
                                                    <div ngbDropdownMenu aria-labelledby="editMoveMenuDropdown">
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canMoveSelectedUp()" (click)="moveSelectedUp()">Forward</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canMoveSelectedDown()" (click)="moveSelectedDown()">Backward</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canMoveSelectedToTop()" (click)="moveSelectedToTop()">To Top</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canMoveSelectedToBottom()" (click)="moveSelectedToBottom()">To Bottom</button>
                                                    </div>
                                                </div>
                                                <div ngbDropdown style="padding-left: 15px;">
                                                    <button id="editArrangMenuDropdown" class="btn btn-sm btn-light" style="background-color: white;" ngbDropdownToggle>Arrange</button>
                                                    <div ngbDropdownMenu aria-labelledby="editArrangeMenuDropdown">
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canArrange()" (click)="alignSelectedLeft()">Align Left</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canArrange()" (click)="alignSelectedCenter()">Align Center</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canArrange()" (click)="alignSelectedRight()">Align Right</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canArrange()" (click)="alignSelectedTop()">Align Top</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canArrange()" (click)="alignSelectedMiddle()">Align Middle</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canArrange()" (click)="alignSelectedBottom()">Align Bottom</button>
                                                    </div>
                                                </div>
                                                <div ngbDropdown style="padding-left: 15px;">
                                                    <button id="editResizeMenuDropdown" class="btn btn-sm btn-light" style="background-color: white;" ngbDropdownToggle>Resize</button>
                                                    <div ngbDropdownMenu aria-labelledby="editResizeMenuDropdown">
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canResize()" (click)="resizeSelectedWidth()">Make Same Width</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canResize()" (click)="resizeSelectedHeight()">Make Same Height</button>
                                                        <button ngbDropdownItem class="btn btn-sm" [disabled]="!canResize()" (click)="resizeSelectedSize()">Make Same Size</button>
                                                    </div>
                                                </div>
                                                <button ngbDropdownItem class="btn btn-sm" (click)="removeUnusedResources()">Remove Unused Resources</button>
                                                <button ngbDropdownItem class="btn btn-sm" [disabled]="!canDeleteSelected()" (click)="deleteSelected()">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                    <!--
                                    <td>
                                        <div ngbDropdown class="d-inline-block">
                                            <button class="btn btn-sm btn-outline-primary" id="editMenuDropdown" ngbDropdownToggle>Edit</button>
                                            <div ngbDropdownMenu aria-labelledby="editMenuDropdown">
                                              <button ngbDropdownItem [disabled]="!canDuplicateSelected()" (click)="duplicateSelected()">Duplicate</button>
                                              <button ngbDropdownItem [disabled]="!canMoveSelectedUp()" (click)="moveSelectedUp()">Move Up</button>
                                              <button ngbDropdownItem [disabled]="!canMoveSelectedDown()" (click)="moveSelectedDown()">Move Down</button>
                                              <button ngbDropdownItem [disabled]="!canMoveSelectedToTop()" (click)="moveSelectedToTop()">Move To Top</button>
                                              <button ngbDropdownItem [disabled]="!canMoveSelectedToBottom()" (click)="moveSelectedToBottom()">Move To Bottom</button>
                                              <button ngbDropdownItem (click)="removeUnusedResources()">Remove Unused Resources</button>
                                              <button ngbDropdownItem [disabled]="!canDeleteSelected()" (click)="deleteSelected()">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                    -->
                                    <td>
                                        <select id="activeToolName" [ngModel]="activeToolName"
                                            #ngActiveTool="ngModel"
                                            (ngModelChange)="activeToolChange($event, ngActiveTool)"
                                            class='btn btn-sm btn-outline-primary'
                                            ngbTooltip="Tool">
                                            <option value="select">Select</option>
                                            <option value="pen">Pen</option>
                                            <option value="line">Line</option>
                                            <option value="rectangle">Rectangle</option>
                                            <option value="ellipse">Ellipse</option>
                                            <option value="polyline">Polyline</option>
                                            <option value="polygon">Polygon</option>
                                            <option value="text">Text</option>
                                            <option value="image">Image</option>
                                            <option value="model">Model</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class='btn btn-sm btn-outline-primary' (click)="showStrokeModal()"
                                            ngbTooltip="Set Stroke">Stroke</button>
                                    </td>
                                    <td>
                                        <div class="grid" style="margin-right: 4px; height: 24px; width: 32px; position: relative; top: 9px;">
                                            <div *ngIf="strokeType == 'color'" [ngbTooltip]='strokeTooltip' style="width: 100%; height: 100%" [style.backgroundColor]="strokeColor"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class='btn btn-sm btn-outline-primary' (click)="showFillModal()"
                                            ngbTooltip="Set Fill">Fill</button>
                                    </td>
                                    <!--
                                    <td>
                                        <input type="checkbox" [checked]="selectionEnabled"
                                            (change)="selectionEnabled = !selectionEnabled" style="margin-left: 8px;">
                                        <label style="margin-left: 4px; margin-right: 16px;"><strong>Select
                                                Mode</strong></label>
                                    </td>
                                    -->
                                    <!--
                                    <td *ngIf="mouseOverView" style="min-width: 60px;">
                                        <label for="xpos"><strong>X:</strong></label>&nbsp;
                                        <span id="xpos">{{viewMouseX}}</span>
                                    </td>
                                    <td *ngIf="mouseOverView" style="min-width: 60px;">
                                        <label for="ypos"><strong>Y:</strong></label>&nbsp;
                                        <span id="ypos">{{viewMouseY}}</span>
                                    </td>
                                    -->
                                </tr>
                            </table>
                        </div>
                        <div>
                            <div [ngClass]='backgroundClass()'>
                                <div [class.fileover]='isDragging' oncontextmenu="return false;">
                                    <app-elise-design #elise [model]="model" [scale]="scale"
                                        (mouseMovedView)="mouseMovedView($event)"
                                        (mouseEnteredView)="mouseEnteredView($event)"
                                        (mouseLeftView)="mouseLeftView($event)" (mouseDownView)="mouseDownView($event)"
                                        (mouseUpView)="mouseUpView($event)"
                                        (mouseEnteredElement)="mouseEnteredElement($event)"
                                        (mouseLeftElement)="mouseLeftElement($event)"
                                        (mouseDownElement)="mouseDownElement($event)"
                                        (mouseUpElement)="mouseUpElement($event)"
                                        (elementClicked)="elementClicked($event)"
                                        (controllerSet)="controllerSet($event)"
                                        (selectionChanged)="selectionChanged($event)"
                                        (elementCreated)="elementCreated($event)"
                                        (viewDragEnter)="viewDragEnter($event)" (viewDragLeave)="viewDragLeave($event)">
                                    </app-elise-design>
                                </div>
                            </div>
                            <!--
                            <div>
                                <label for='last-message'>Last Event</label>
                                <div id='last-message'>{{lastMessage}}</div>
                            </div>
                            -->
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="2">
                    <a ngbNavLink>Model Text</a>
                    <ng-template ngbNavContent>
                        <div style='margin-top: 8px;'>
                            <pre>{{formattedJson}}</pre>
                        </div>
                    </ng-template>
                </ng-container>
            </nav>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>

        </as-split-area>
    </as-split>
</div>
