<div class='editor-panel'>

    <div class='toolbar'>

        <h5 class='toolbar-title'>Container Explorer</h5>

        <div class='toolbar-divider'></div>

        <!-- Container selector -->
        <div class='toolbar-group'>
            <app-container-selector (containerSelected)='onContainerSelected($event)'>
            </app-container-selector>

            <!-- New Folder Button -->
            <button class='btn btn-light btn-sm' [disabled]='selectedFolderPath == null'
                (click)="containertree.showNewFolderModal()" aria-label="New Folder">
                <span placement="bottom" ngbTooltip="New Folder"
                    class='fas fa-folder-plus fa-lg'></span>
            </button>

            <!-- Delete Folder Button -->
            <button class='btn btn-light btn-sm' [disabled]='selectedFolderPath == null || selectedFolderPath === "/"'
                    (click)="containertree.showDeleteFolderModal()" aria-label="Delete Folder">
                <span placement="bottom" ngbTooltip="Delete Folder"
                    class='fas fa-folder-minus fa-lg'></span>
            </button>
        </div>

        <div class='toolbar-spacer'></div>

        <!-- Status bar -->
        <div class='toolbar-status'>
            <span class="text-muted"><strong>{{selectedFolderPath}}</strong></span>
        </div>
    </div>

    <!-- Main horizontal splitter -->
    <as-split unit='percent' direction='horizontal' gutterSize='5' class='editor-split'>
        <as-split-area size='20' minSize='10' maxSize='40' style="overflow-y: auto;">
            <!-- Container Tree -->
            <app-container-tree (folderPathSelected)="onFolderPathSelected($event)" #containertree>
            </app-container-tree>
        </as-split-area>
        <as-split-area size='80' appDnd (fileDropped)="onFileDropped($event)">
            <!-- Container Alerts -->
            <app-alert id='container-explorer'></app-alert>

            <div *ngIf='selectedFolderPath != null' class="upload-zone" (click)="fileUploadInput.click()">
                <span class="fas fa-cloud-upload-alt upload-zone-icon"></span>
                <span class="upload-zone-label">Drop files or click to upload</span>
                <input type="file" id="fileUploadInput"
                    #fileUploadInput (change)='uploadFiles(fileUploadInput.files)' multiple>
            </div>

            <!-- Active upload list -->
            <app-upload-list [uploads]="uploads" (cancelUpload)="cancelUpload($event)" ></app-upload-list>

            <!-- Folder file list -->
            <app-file-list
                [selectedFolderPath]="selectedFolderPath"
                [folderFiles]="folderFiles" (selectFile)="selectFile($event)"
                (deleteFile)="deleteFile($event)" (downloadFile)="downloadFile($event)"></app-file-list>
        </as-split-area>
    </as-split>
</div>
