<div class='small' style='overflow: auto; margin: 4px;'>
<tree-root #tree [nodes]="nodes" [options]="options"
    (nodeActivate)="nodeActivate($event)"></tree-root>
</div>

<!-- Error Modal -->
<ng-template #errorModal let-modal>
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" (click)="modal.dismiss('X')">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('OK')">OK</button>
    </div>
</ng-template>

<!-- New Folder -->
<ng-template #newFolderModal let-modal>
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">New Folder</h4>
        <button type="button" class="close" (click)="modal.dismiss('X')">&times;</button>
    </div>

    <!-- Modal body -->
    <form #newfolderform>
        <div class="modal-body">
            <div class="form-group">
                <label for="folderparent">Parent Folder</label>
                <div id="folderparent"><strong>{{selectedFolderPath}}</strong></div>
            </div>
            <div class="form-group">
                <label for="foldername">Folder Name</label>
                <input type="text" id="foldername" name="foldername" #foldername="ngModel" class="form-control"
                    required [(ngModel)]="folderName" ngbAutofocus />
                <div [hidden]="foldername.valid || foldername.pristine" class="alert alert-danger">
                    Folder Name Is Required
                </div>
            </div>
        </div>
    </form>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createFolder(newfolderform)">Create Folder
            <span *ngIf="creatingFolder" class="spinner-border spinner-border-sm"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cancel')">Cancel</button>
    </div>
</ng-template>

<!-- Delete Folder -->
<ng-template #deleteFolderModal let-modal>
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Delete Folder</h4>
        <button type="button" class="close" (click)="modal.dismiss('X')">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="alert alert-danger">
            Are you sure you want to delete folder &nbsp;<strong>{{selectedFolderPath}}</strong> and all its contents? This change cannot be undone.
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteFolder()"
            [disabled]='deletingFolder'>Yes, Delete Folder
            <span *ngIf="deletingFolder" class="spinner-border spinner-border-sm"></span>
        </button>
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cancel')"
            [disabled]="deletingFolder" ngbAutofocus>No</button>
    </div>
</ng-template>