<div class="col-sm-4">
    <div *ngIf="!formSubmitted">
        <h3>Request Password Reset Code</h3>
        <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
            <div class="form-group">
                <label for="username-reset">User Name or Email</label>
                <input type="text" id="username" name="username" #username="ngModel" class="form-control" required
                    [(ngModel)]="loginDTO.Name" />
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                    User Name or Email is Required
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!requestForm.form.valid">
                Request Password Reset Code
                <span *ngIf="processing" class="spinner-border spinner-border-sm"></span>
            </button>
            <button type='button' class='btn btn-link' routerLink='/login'>Login</button>
            <button type='button' class='btn btn-link' routerLink='/register'>Register</button>
        </form>
    </div>
    <div *ngIf="formSubmitted && !resetComplete">
        <h3>Reset Password</h3>
        <form (ngSubmit)="onSubmitReset()" #confirmationForm="ngForm">
            <div class="form-group">
                <label for="username-reset">User Name or Email</label>
                <input type="text" id="username-reset" name="username-reset" #usernameReset="ngModel" class="form-control" required
                    [(ngModel)]="loginDTO.Name" />
                <div [hidden]="usernameReset.valid || usernameReset.pristine" class="alert alert-danger">
                    User Name or Email is Required
                </div>
            </div>
            <div class="form-group">
                <label for="code">Password Reset Code</label>
                <input type="text" id="code" name="code" #code="ngModel" class="form-control" required
                    [(ngModel)]="loginDTO.ResetCode" />
                <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
                    Confirmation Code is Required
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" #password="ngModel" class="form-control" required
                    [(ngModel)]="loginDTO.Password" />
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    Password is Required
                </div>
            </div>
            <div class="form-group">
                <label for="password-confirm">Password Confirm</label>
                <input type="password" id="password-confirm" name="password-confirm" #passwordconfirm="ngModel"
                    class="form-control" required [(ngModel)]="passwordConfirm" />
                <div [hidden]="passwordconfirm.valid || passwordconfirm.pristine" class="alert alert-danger">
                    Password Confirm is Required
                </div>
                <div [hidden]="(passwordConfirm === loginDTO.Password) || passwordconfirm.pristine"
                    class="alert alert-danger">
                    Password Confirm Does Not Match Password
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!confirmationForm.form.valid">
                Reset Password
                <span *ngIf="processing" class="spinner-border spinner-border-sm"></span>
            </button>
            <button type='button' class='btn btn-link' routerLink='/login'>Login</button>
        </form>
    </div>
    <div *ngIf="successMessage" class="alert alert-success" style="margin-top: 8px; white-space: pre-line;">{{successMessage}}</div>
    <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 8px;">{{errorMessage}}</div>
</div>