<div class="auth-container">
    <div class="auth-card card shadow-sm">
        <div class="card-header">
            <div class="auth-brand-icon"><span class="fas fa-key"></span></div>
            <h3>Change Password</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
                <div class="mb-3">
                    <label for="password">Current Password</label>
                    <input type="password" id="password" name="password" #password="ngModel" class="form-control" required
                        [(ngModel)]="loginDTO.Password" />
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger mt-1">
                        Current Password is Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newpassword">New Password</label>
                    <input type="password" id="newpassword" name="newpassword" #newpassword="ngModel" class="form-control" required
                        [(ngModel)]="loginDTO.NewPassword" />
                    <div [hidden]="newpassword.valid || newpassword.pristine" class="alert alert-danger mt-1">
                        New Password is Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newpasswordconfirm">New Password Confirm</label>
                    <input type="password" id="newpasswordconfirm" name="newpasswordconfirm" #newpasswordconfirm="ngModel"
                        class="form-control" required [(ngModel)]="newPasswordConfirm" />
                    <div [hidden]="newpasswordconfirm.valid || newpasswordconfirm.pristine" class="alert alert-danger mt-1">
                        New Password Confirm is Required
                    </div>
                    <div [hidden]="(newPasswordConfirm === loginDTO.NewPassword) || newpasswordconfirm.pristine"
                        class="alert alert-danger mt-1">
                        New Password Confirm Does Not Match New Password
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100" [disabled]="!changePasswordForm.form.valid">
                    Change Password
                    <span *ngIf="processing" class="spinner-border spinner-border-sm"></span>
                </button>
            </form>
        </div>
        <div class="card-footer">
            <a routerLink='/login'>Account Info</a>
        </div>
    </div>
</div>
