<div class="col-sm-4">
    <h3>Change Password</h3>
    <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
        <div class="form-group">
            <label for="password">Current Password</label>
            <input type="password" id="password" name="password" #password="ngModel" class="form-control" required
                [(ngModel)]="loginDTO.Password" />
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Current Password is Required
            </div>
        </div>
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" id="newpassword" name="newpassword" #newpassword="ngModel" class="form-control" required
                [(ngModel)]="loginDTO.NewPassword" />
            <div [hidden]="newpassword.valid || newpassword.pristine" class="alert alert-danger">
                New Password is Required
            </div>
        </div>
        <div class="form-group">
            <label for="newpasswordconfirm">New Password Confirm</label>
            <input type="password" id="newpasswordconfirm" name="newpasswordconfirm" #newpasswordconfirm="ngModel"
                class="form-control" required [(ngModel)]="newPasswordConfirm" />
            <div [hidden]="newpasswordconfirm.valid || newpasswordconfirm.pristine" class="alert alert-danger">
                New Password Confirm is Required
            </div>
            <div [hidden]="(newPasswordConfirm === loginDTO.NewPassword) || newpasswordconfirm.pristine"
                class="alert alert-danger">
                New Password Confirm Does Not Match New Password
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.form.valid">
            Change Password
            <span *ngIf="processing" class="spinner-border spinner-border-sm"></span>
        </button>
        <button class='btn btn-link' routerLink='/login'>Account Info</button>
    </form>
    <div *ngIf="successMessage" class="alert alert-success" style="margin-top: 8px; white-space: pre-line;">{{successMessage}}</div>
    <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 8px;">{{errorMessage}}</div>
</div>