<div class='editor-panel'>

    <div class='toolbar'>

        <h5 class='toolbar-title'>Model Playground</h5>

    </div>

    <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="modelEditorNavId" (navChange)="onNavChange($event)"
        [destroyOnHide]="true">
        <ng-container [ngbNavItem]="1">
            <a ngbNavLink>Edit</a>
            <ng-template ngbNavContent>
                <div class="editor-toolbar">
                    <div class='toolbar-group'>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-sm btn-outline-primary" id="loadMenuDropdown"
                                ngbDropdownToggle>Load</button>
                            <div ngbDropdownMenu aria-labelledby="loadMenuDropdown" class="workshop-load-menu">
                                <h6 class="dropdown-header">Basic</h6>
                                <button ngbDropdownItem (click)="loadModel('primitives', 'model')">Blank Model</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'ellipse-animation')">Ellipse Animation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'gradient-animation')">Gradient Animation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'line-animation')">Line Animation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'rotation-animation')">Rotation Animation</button>
                                <h6 class="dropdown-header">Generative Art</h6>
                                <button ngbDropdownItem (click)="loadModel('animations', 'fourier-flower')">Fourier Flower</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'harmonograph')">Harmonograph</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'hypotrochoid-weave')">Hypotrochoid Weave</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'kaleidoscope')">Kaleidoscope</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'maurer-rose')">Maurer Rose</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'moire-lattice')">Moire Lattice</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'polar-harmonic-mesh')">Polar Harmonic Mesh</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'sine-lissajous-field')">Sine Lissajous Field</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'spirograph')">Spirograph</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'superformula-bloom')">Superformula Bloom</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'times-table-cardioid')">Times Table Cardioid</button>
                                <h6 class="dropdown-header">Nature &amp; Physics</h6>
                                <button ngbDropdownItem (click)="loadModel('animations', 'ant-colony-trails')">Ant Colony Trails</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'fireflies')">Fireflies</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'flocking-swarm')">Flocking Swarm</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'newtons-cradle')">Newton's Cradle</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'ocean-waves')">Ocean Waves</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'pendulum-wave')">Pendulum Wave</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'raindrop-ripples')">Raindrop Ripples</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'snow-animation')">Snow Simulation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'tornado')">Tornado</button>
                                <h6 class="dropdown-header">Simulation</h6>
                                <button ngbDropdownItem (click)="loadModel('animations', 'cloth-simulation')">Cloth Simulation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'conway-life-lab')">Conway Life Lab</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'metaballs')">Metaballs</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'particle-animation')">Particle Animation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'reaction-diffusion')">Reaction-Diffusion</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'soft-body-blobs')">Soft Body Blobs</button>
                                <h6 class="dropdown-header">Visual Effects</h6>
                                <button ngbDropdownItem (click)="loadModel('animations', 'aurora-borealis')">Aurora Borealis</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'digital-rain')">Digital Rain Simulation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'fireworks')">Fireworks Display</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'fractal-zoom')">Fractal Zoom</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'geometric-morphing')">Geometric Morphing</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'lava-lamp')">Lava Lamp</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'plasma-effect')">Plasma Effect</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'stargate-tunnel')">Stargate Tunnel</button>
                                <h6 class="dropdown-header">Data &amp; Technical</h6>
                                <button ngbDropdownItem (click)="loadModel('animations', 'aurora-clock')">Northern Lights Clock</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'dna-helix')">DNA Helix</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'heartbeat-monitor')">Heartbeat Monitor</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'lorenz-attractor')">Lorenz Attractor</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'lsystems-garden')">L-Systems Garden</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'radar-traffic')">Radar Traffic</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'rrt-pathfinding')">RRT Pathfinding</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'solar-system')">Solar System Orrery</button>
                                <h6 class="dropdown-header">Sprite &amp; Image</h6>
                                <button ngbDropdownItem (click)="loadModel('animations', 'multi-sprite-animation')">Multi Sprite Animation</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'sprite-transitions')">Sprite Image Transition</button>
                                <button ngbDropdownItem (click)="loadModel('animations', 'sprite-animation')">Sprite Sheet Animation</button>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-success" (click)="runScript()" id="runScript">
                            <span class="fas fa-play me-1"></span>Run
                        </button>
                    </div>
                </div>
                <div>
                    <textarea [(ngModel)]="playgroundText" name="playgroundText" id="playgroundText"
                        spellcheck="false" class="playground-editor"
                        style="width: 100%; height: calc(100vh - 246px);"></textarea>
                </div>
            </ng-template>
        </ng-container>
        <ng-container [ngbNavItem]="2">
            <a ngbNavLink>View</a>
            <ng-template ngbNavContent>
                <!-- Model Viewer -->
                <div *ngIf="model != null" class="editor-toolbar">
                    <div class='toolbar-group'>
                        <select id="scale" [(ngModel)]="scale" ngbTooltip="Zoom"
                            class='btn btn-sm btn-outline-primary'>
                            <option [ngValue]="0.25">25%</option>
                            <option [ngValue]="0.5">50%</option>
                            <option [ngValue]="0.75">75%</option>
                            <option [ngValue]="1">100%</option>
                            <option [ngValue]="1.5">150%</option>
                            <option [ngValue]="2">200%</option>
                            <option [ngValue]="3">300%</option>
                            <option [ngValue]="4">400%</option>
                            <option [ngValue]="5">500%</option>
                        </select>
                        <select id="background" [(ngModel)]="background"
                            class='btn btn-sm btn-outline-primary' ngbTooltip="Drawing Surface">
                            <option value="grid">Grid</option>
                            <option value="white">White</option>
                            <option value="black">Black</option>
                            <option value="gray">Gray</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div [ngClass]='backgroundClass()'>
                        <app-elise-view [model]="model" [timerEnabled]="true" [scale]="scale">
                        </app-elise-view>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

