.view-host {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.grid {
    background-image: url(../../../assets/images/grid.png);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.gray {
    background-color: gray;
}