/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as *;
@use "bootstrap/scss/bootstrap";
@use './styles/utilities';
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Poiret+One);
@import url(./assets/fonts/stylesheet.css);
@import '@ali-hm/angular-tree-component/css/angular-tree-component.css';

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.is-in-use {
    border-left: 5px solid #a94442 !important; /* red */
}
