<div class="form-row">
    <div class="col-auto">
        <select class='custom-select custom-select-sm' [disabled]='!isEnabled'
            [(ngModel)]='selectedContainer' [compareWith]='compareContainers' (change)='onContainerSelected($event)'>
            <option *ngFor='let container of containers' [ngValue]='container'>
                {{container.Name}}
            </option>
        </select>
    </div>
    <div class="col-auto btn-group">
        <button class="btn btn-light py-0 px-0 mx-1" (click)="showNewContainerModal()" [disabled]="!isLoggedIn">
            <span placement="bottom" ngbTooltip="Create Container" class="fas fa-database fa-2x"></span>
        </button>
        <button class="btn btn-light py-0 px-0 mx-1" (click)="showDeleteContainerModal()" [disabled]='!isContainerSelected'>
            <span placement="bottom" ngbTooltip="Delete Container" class="fas fa-trash-alt fa-2x"></span>
        </button>
    </div>
</div>
